.NoPhotos {
  color: #B82601;
  font-size: 3em;
  font-family: Roboto, sans-serif;
  margin: auto;
  text-align: center;
  max-width: 60%;
  margin-top: 20px;
}

.YourFavoritesHeader {
  border: 2px solid #B82601;
  height: 70px;
  width: 30%;
  font-weight: bold;
  margin: auto;
  font-family: Roboto, sans-serif;
  color: black;
  text-align: center;
  font-size: 2em;
  vertical-align: middle;
  line-height: 70px;
  margin-bottom: 20px;
}
